.reward-points__wrapper[hidden] {
  display: none;
}

.reward-points__title {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: var(--type-headline-2-letter-spacing);
  margin: 0 0 var(--spacing-small) 0;
}

.reward-points__balance {
  font: var(--type-body-1-font);
  font-weight: 600;
  color: var(--color-neutral-700);
  margin: 0;
}
