.global-notice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    max-width: 1264px;
    width: 100%;
    margin: 0 auto;
    padding: 5px 12px;
    text-align: center;
    font-weight: 700;
}

.global-notice-wrapper {
    background-color: rgb(0 0 0 / 10%);
    border-bottom: 1px solid;
}

.global-notice * {
    margin: 0;
}

@media (min-width: 1024px) {
    .global-notice {
        padding: 5px 32px;
    }
}