footer {
    background-color: var(--color-neutral-100);
    font: var(--type-body-2-default-font);
    letter-spacing: var(--type-body-2-default-letter-spacing);
}

footer .footer p {
    margin: 0;
}

footer .footer > div {
    margin: auto;
    max-width: 1200px;
    padding: 40px 24px 24px;
}

.storeview-switcher-button {
    background: transparent;
    padding-left: 0;
}

.storeview-modal-storeview-title {
    margin-bottom: var(--spacing-xxbig);
    padding-inline-start: var(--spacing-xbig);
}

.modal .close-button {
    top: 40px !important;
    right: 40px !important;
}

.storeview-single-store {
    list-style-type: none;
}

.storeview-selection .storeview-multiple-stores {
    list-style-image: url("../../icons/chevron-right.svg");
    list-style-position: inside;
}

.storeview-selection > li {
    margin-bottom: var(--spacing-small);
}

.storeview-multiple-stores > ul {
    position: relative;
    width: 100%;
}

.storeview-multiple-stores > ul > li {
    list-style: none;
    display: none;
}


footer .columns ul {
    list-style-position: inside;
    padding: 0;
}

footer .footer-legal {
    padding-top: var(--spacing-xsmall);
    border-top: 1px solid var(--color-neutral-300);
}

footer .footer-legal ul {
    list-style-type: none;
    display: inline-flex;
    gap: 1rem;
    margin: 0;
}

footer .footer-legal ul a,
footer .footer-legal p {
    font-size: 1.2rem;
}

.storeview-multiple-stores[aria-expanded="true"] {
    list-style-image: url("../../icons/chevron-down.svg");
}

.storeview-multiple-stores[aria-expanded="true"] > ul {
    padding-left: 0;
}

.storeview-multiple-stores[aria-expanded="true"] > ul > li {
    display: block;
    list-style-type: none;
    margin-bottom: var(--spacing-small);
}

.minimal-header-footer footer .footer .columns-container .columns-wrapper:first-child {
    display: none;
}

@media (min-width: 900px) {
    footer .footer > div {
        padding: 40px 32px 24px;
    }

    .footer .default-content-wrapper a {
        margin-right: var(--spacing-small);
        font-size: 1.1rem;
    }

    .footer-legal p {
        text-align: right;
    }
}
